<% content_for(:title, 'Edit user') %>
<% content_for(:button_text, 'Save changes') %>
<% content_for(:form_for_url, user_path) %>
<h1>Update your profile</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'layouts/form' %>

    <div class="frabatar_edit">
      <% gravatar_for @user %>
      <a href="http://gravatar.com/emails" rel="noopener" target="_blank">change</a>
    </div>
  </div>
</div>
